body{
	width:100vw;
	height:100vh;
	background:#fff;
	background-size:100vw 100vh;
	background-repeat: no-repeat;
	overflow-x:hidden;
	overflow-y:hidden;
}
header{
	width:100vw;
	height:50px;
	background:rgba(0,0,0,0.8);
}
header p{
	font-size:18px;
	float:right;
	color:#fff;
	line-height:50px;
	margin-right:45px;
}

#indexView{
	margin:50px auto;
	width:500px;
	height:500px;
	border-radius:15px;
	background:rgba(255,255,255,0.8);
}

#fbImgView{
	padding-top:25px;
	margin:0 auto;
	text-align:center;
	width:300px;
	height:300px;
}

#fbImgView img{
	margin-top:5px;
}

#fbloginBtn{
	float:right;
	margin-right:45px;
	margin-top:8px;
}


#logoutBtn{
	float:right;
	margin-right:45px;
	margin-top:8px;
}

.pics img{
	max-width:20vw;
	margin: 2em;
}

.copyright{
	text-align: center;
	padding: 1em;
	height: 10vh;
	color: white;
	background: #696969;
}
